		<table id="schedule-table" class="table table-striped table-bordered schedule-table">
			<thead>
				<tr>
					<th><%= t 'home.schedule.hours' %></th>
					<% days_of_week(Date.today.cweek).each do |week_day| %>
						<th><%= l week_day, format: '%A' %><br><small class="text-muted"><%= l week_day, format: '%d/%m/%Y' %></small></th>
					<% end %>
				</tr>
			</thead>

			<tbody>
				<% (6..23).each do |num| %>
				<tr>
					<td><%= number_to_hours(num) %></td>
					<% days_of_week(Date.today.cweek).each do |week_day| %>
						<td class="js-add-schedule" data-hour="<%= number_to_hours(num) %>" data-starts_at="<%= datetime_at_presenter(week_day, num) %>" data-ends_at="<%= datetime_at_presenter(week_day, num + 1) %>">
							<a href="#">Agendar horário</a>
						</td>
					<% end %>
				</tr>
				<% end %>
			</tbody>

		</table>


